* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
/* header style  */
.banner {
  background: url(./images/Banner\ Image.png) center center no-repeat;
  color: #ffffff;
  margin: 50px auto;
  width: 1320px;
  height: 600px;
  border-radius: 5px;
}
.banner-cover {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
}
.text-primary {
  font-size: 72px;
}
.text-secondary {
  font-size: 32px;
  padding-top: 190px;
  padding-bottom: 20px;
}

/* Main Part Styles */

.our-holiday {
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 60px 30px 100px 30px;
}
.section-heading {
  font-size: 88px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 30px;
}
.section-subtitle {
  font-size: 24px;
  font-weight: medium;
  font-family: "Inter", sans-serif;
  color: #ff0000;
  margin: 15px 0;
  text-transform: uppercase;
}
.section-title {
  font-size: 48px;
  font-weight: bold;
  color: #070211;
  margin-bottom: 40px;
}

/* midnight party styles  */
.midnight-party {
  background: url(./images/Vectorrr.png) center center no-repeat;
  color: #ffffff;
  margin: 50px auto;
  width: 1320px;
  height: 600px;
}
.midnight-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(7, 2, 17, 0.9), rgba(7, 2, 17, 0));
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}
.midnight-left {
  width: 50%;
}
.midnight-title {
  font-size: 64px;
}
.midnight-party-description {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.6;
}
.party-join-button {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 80px;
  margin-top: 30px;
}

/* new park hotel  */
.new-park-hotel {
  width: 1320px;
  height: 482px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 50px auto;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0)
  );
}
.hotel-content {
  text-align: center;
}
.park-hotel-text {
  font-size: 32px;
  line-height: 60px;
  font-family: "Inter", sans-serif;
  font-weight: semi bold;
}
.red-text {
  color: #ff0000;
}
.join-button {
  background: #f00000;
  border: 0;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding: 12px 20px;
  margin-top: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

/* new coming offer part  */
.coming-offer {
  width: 1320px;
  height: 463px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.coming-text {
  margin-top: -20px;
  line-height: 30px;
  color: #070211;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
}
.red-circle {
  border: 12px solid red;
  border-radius: 50%;
}
.coming-photo {
  margin: 20px;
}
.coming-year {
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: red;
  margin-bottom: 30px;
}

/* holiday sales part  */
.holiday-sales {
  width: 1320px;
  margin: 50px auto;
  margin-top: 100px;
  padding-bottom: 80px;
}
.holiday-heading {
  width: 1320px;
  text-align: center;
}
.holiday-sale-subtitle,
.black-text {
  color: #070211;
}
.holiday-sales-heading {
  font-size: 72px;
  text-transform: capitalize;
  color: #f00000;
}
.holiday-sales-text {
  width: 80%;
  margin: 15px auto;
  line-height: 30px;
  color: #070211;
  font-family: "Inter", sans-serif;
}
.holiday-sales-display {
  display: flex;
}
.gift-box-photo {
  margin-bottom: -220px;
  z-index: 555;
}
.holiday-sales-right {
  position: relative;
}
.fifty-percent-photo {
  position: absolute;
  z-index: 22;
  left: -55px;
}
.lady-photo {
  position: absolute;
  left: 94px;
  bottom: 0;
}

/* awesome portfolio */
.awesome-portfolio {
  width: 1320px;
  margin: 50px auto;
}
.awesome-text {
  width: 70%;
  margin-bottom: 30px;
}
.awesome-portfolio img {
  width: 100%;
}
.row-1,
.row-2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.row-1 {
  margin-bottom: 20px;
}
